.panel {
    border: none !important;
    background-color: transparent !important;
}

.panel h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 30px;
    color: #7b7b7b;
}

.panel-group .panel + .panel {
    margin-top: 0 !important;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
}

.panel-heading {
    color: #69c2c8 !important;
    padding: 0 15px;
    float: left;
    width: 100%;
    display: block;
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background-color: transparent !important;
}

.panel-title a {
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
    float: left;
    width: 100%;
    display: block;
    letter-spacing: 2px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #888;
}

.panel-title a:focus {
    text-decoration: none !important;
}

.service {
    padding: 20px !important;
}

.service h3 {
    margin: 5px 0 20px 0 !important;
}

.service h3, .service p {
    line-height: 1.5;
}
